<html>
  <head>
    <title>
      make_model
    </title>
  </head>
  <hr/>
  普通模型
  <form action="/make_model/make_do" target="_blank" >
    tablename:<input id="name" name="name" value=""/>
    <input id="submit" name="submit" type="submit" value="submit"/>
  </form>
  <hr/>
  hibernate annotation模型
  <form action="/make_model/make_do_2" target="_blank" >
    tablename:<input id="name" name="name" value=""/>
    <input id="submit" name="submit" type="submit" value="submit"/>
  </form>
  <hr/>

</html>
